<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label "Photo" %>
            <%= f.file_field :avatar, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :country_of_residence %>
          <%= f.text_field :country_of_residence, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :country_of_origin %>
          <%= f.text_field :country_of_origin, class: 'form-control' %>
        </div>
        <div class="check-box">
          <%= f.label "Do you own a business?" %>
          <%= f.select :own_business, ['Yes', 'No'], {}, class: 'form-control' %>
        </div>
        <div class="check-box">
          <%= f.label "Are you starting a business?" %>
          <%= f.select :starting_business, ['Yes', 'No'], {}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "What is the nature of your business(es)?" %>
          <%= f.text_area :business_nature, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "What services are you interested in?" %>
          <%= f.select :services_interest_in, ['Mentorship', 'Mentee', 'Training', 'Partnership'], {}, class: 'form-control' %>
        </div>
        <div class="check-box">
          <%= f.label "Link to promotional video if you have one" %>
          <%= f.text_field :promo_video, class: 'form-control' %>
        </div>
        <div class="check-box">
          <%= f.label "LinkedIn profile" %>
          <%= f.text_field :linked_in, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Any other comments?" %>
          <%= f.text_area :other, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :contact_email %>
          <%= f.text_field :contact_email, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.submit "Update Profile", class: 'btn btn-primary' %>
        </div>
      <% end %>
