<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
  </div>
  
  <div class="col-md-9">
    <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
    
    <div class="well profile-block profile-description">
      <h3>Description</h3>
      <%= @user.profile.country_of_residence %><br/>
      <%= @user.profile.country_of_origin %><br/>
      <%= @user.profile.own_business %><br/>
      <%= @user.profile.starting_business %><br/>
      <%= @user.profile.business_nature %><br/>
      <%= @user.profile.promo_video %><br/>
      <%= @user.profile.other %><br/>
      <h3><span class="services_interest_in_icon" ><%= services_interest_in_icon %></span><%= @user.profile.services_interest_in %><br/></h3>
    </div>
    
    <% if current_user.plan_id == 3 %>
      <div class="well profile-block contact-info">
        <h3>Contact Info</h3>
        <%= @user.profile.phone_number %><br/>
        <%= @user.profile.contact_email %><br/>
      </div>
    <% end %>
    
  </div>
</div>
