<div class="container">
    <div class="row">
        <h2>Team</h2>
    </div>

    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("Indira.png", alt: "Indira Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Indira Kartallozi</h3>
            <p>Indira Kartallozi is the founder and director of Chrysalis Family Futures – a social enterprise that stands for protection and empowering of human and socio-economic rights of vulnerable and marginalised families and children. She is also the founder of the Migrant Entrepreneurs International.</p>
            <p>Her work and expertise has taken her to various countries in Africa, Asia, Europe and Latin America. In the UK, Indira works as a freelance welfare rights advisor at Freedom From Torture. She is also on the Advisory Board of GERMIN, a Kosovo diaspora initiative, and ‘Impacto’, a Malaysian social enterprise. Previously, she was President of the judging panel for the Social Enterprise Reporting Awards (SERAs), an initiative of CSR Nigeria.</p>
            <p>Indira has over 15-years of experience in advice on welfare, housing and immigration rights and her expertise ranges from issues of forced migration and human rights, to social entrepreneurship and gender equality.</p>
            <p>Since completing her MA in Refugee Studies and her groundbreaking research on austerity and welfare reforms, Indira has been invited to speak at various conferences and seminars around the world.</p>
        </div>
    </div>

    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("wayne.jpg", alt: "Wayne Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Wayne Visser</h3>
            <p>Dr Wayne Visser is Director of the think tank Kaleidoscope Futures and Founder of CSR International. In addition, Wayne is Senior Associate at the University of Cambridge Programme for Sustainability Leadership, Visiting Professor of Corporate Responsibility at the Gordon Institute of Business Science in South Africa and Adjunct Professor of Sustainable Development at Deakin Business School in Australia.</p>

            <p>Previously, Wayne was Director of Sustainability Services for KPMG and Strategy Analyst for Cap Gemini in South Africa. Wayne is the author of nineteen books, including CSR 2.0 (2013), The Quest for Sustainable Business (2012), The Age of Responsibility (2011), The World Guide to CSR (2010) and The A to Z of Corporate Social Responsibility (2010).</p>
            
            <p>He is a guest columnist for The Guardian newspaper and has also published over 300 other works (chapters, articles, etc.). He has delivered more than 250 professional speeches all around the world, with his work taking him to 68 countries in the last 20 years.</p>
            
            <p>Wayne has been listed as one of the Top 100 Thought Leaders in Trustworthy Business Behavior (2013), Top 100 Global Sustain Ability Leaders (2012 & 2011), the Top 100 Thought Leaders in Europe & the Middle East (2011), the Top 100 CSR Leaders and the Top 20 Sustainability Leaders (2012 & 2009). He is also the recipient of the Global CSR Excellence & Leadership Award (2013), the Emerald Literati Outstanding Author Contribution Award (2011) and the Outstanding Teacher Award of the Warwick MBA (2010/11 & 2011/12).</p>
            
        </div>
    </div>
    
    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("louise2.jpg", alt: "Louise Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Louise Thomson</h3>
            <p>Louise currently an Associate at On Purpose, a one-year social enterprise leadership programme. She was thrown head-first into the world of social enterprise when she quit her job to spend a summer volunteering in Brazil as a social enterprise consultant, where she delivered workshops and consultancy sessions to social entrepreneurs from Rio de Janeiro’s favela communities.</p>
            <p>Since returning from Brazil, Louise has been involved with a range of projects to promote entrepreneurship as a tool for economic empowerment and social enterprise as a solution to global challenges. She has worked freelance for two digital startups, co-organized an event promoting female techpreneurs at the House of Commons and joined the advisory board of the Migrant Entrepreneurs Network. She co-organised Hackney FoodCycle’s first fundraiser and was a guest speaker at the social enterprise session of StartupEurope Week 2016.</p>
            <p>Before moving into social enterprise Louise worked as a corporate investigator, helping clients to navigate business risk, fraud and corruption in challenging global markets. As a Russian and Portuguese speaker she focused on cases in the former Soviet Union and Latin America, which prompted a growing frustration with the unequal and unjust distribution of wealth and resources - both internationally and at home.</p>
            <p>Louise has a first-class degree in Modern Languages from the University of Cambridge.</p>
            
        </div>
    </div>
    
    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("KisH2.jpg", alt: "KisH Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Kishore Ravuri</h3>
            <p>Kishore Ravuri aka KisH is a regional practitioner, with special interest in fostering partnerships that help create ‘impact’ that is meaningful, measurable, and mutual. In his current role as the Founder & Chief Impact Officer of IMPACTO SDN BHD, KisH works with governments, businesses, not-for-profit sector and civil society to revisit and recast the paradigm of ‘impact’ in the context of sustainable development.</p>
            <p>With an international orientation on CSR & Sustainability and good understanding of Asian perspectives, KisH mobilises global experts to review where actors stand in their Sustainability Journey and helps them re-strategise their sustainability goals, aspirations, outcomes and impact. He has participated in many capacity-building programmes involving entrepreneurs championing SMEs in various sectors to include frontier technology, agriculture and education.</p>
            <p>His current research areas include - Partnerships to mitigate Migrant Labour Issues in Palm Oil Plantations and Partnerships for Circular Economy Solutions. He is also working to build a social innovation programme for young potential entrepreneurs employed in corporate sector of Malaysia.</p>
            
        </div>
    </div>
    
    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("yelena.jpg", alt: "Yelena Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Yuliana Topazly</h3>
            <p>Yuliana is a SFEDI-qualified Social Enterprise Trainer and Enterprise Mentor and is currently doing her PhD in the University of West London on Graduate entrepreneurship.</p>
            
            <p>Yuliana is a co-founder and co-director of the award-winning and quality-accredited social franchise, My OutSpace Business Centre (www.myoutspace.co.uk), which specialises in supporting women into employment and self-employment. She has supported  over 200 businesses in the last 3 years, most of which are run by women-migrants.</p>

            <p>Yuliana has been named a Purley Local StartUp Britain Champion; won several business awards, including Croydon Business Awards in 2013, Best Social Enterprise, Business Advisor Award and been in the final for the Migrant Woman of the Year Award. Yuliana understands challenges small businesses face especially those run by women-migrants and those with children. She is very passionate about creating awareness about how much migrants contribute to the economy and rights for parents'</p>
        </div>
    </div>
    
    <div class="row">
      
        <div class="col-md-4">
            <%=image_tag("amos.JPG", alt: "Amos Photo", class: "profilePic")%>
        </div>
        
        <div class="col-md-8">
            <h3>Amos Doornbos</h3>
            <p>Amos’s experience in strategy, operations management, and programme development across a wide array of cultures and organisations has sharpened his ability to listen to the needs and desires of communities and organisations, while asking challenging questions which enable fresh insights to surface. He enjoys working with those engaged on the frontline of customer or community interface, assisting them in working through challenges by analysing the context they operate within to find innovative solutions.</p>
            <p>Over the past number of years, Amos has lived and worked in many of the world’s disaster zones, including Darfur, Indonesia, Pakistan and Eastern DRC, working with communities to rebuild their lives after living through horrific experiences. He brings a wealth of experience in innovation, in bringing structure to chaotic situations and partnering with successful, inspiring organisations at community level in developing countries as well as social entrepreneurships across all walks of life around the world.</p>
            <p>Amos is the Director of Faces of Another World – a dynamic young company passionate about connecting different sectors of society to find innovative solutions for people who earn a dollar or two a day. He is also the founder of Give Aid Direct – a charity enabling person-to-person giving in the immediate aftermath of disasters.</p>
        </div>
    </div>

</div>